.simple-card{
    border: 1px solid #aaa;
    padding: auto;
    box-shadow: 5px 5px 12px #777;
    width: 300px;
    margin: 16px auto;
    border-radius: 8px;
}
.simple-card h2{
    text-align: center;
    text-transform: capitalize;
    font-size: 2em;
    border-bottom: 2px solid #CCC;
    line-height: 100%;
}
.simple-card img{
    height: 160px;
    width: 160px;
    display: block;
    margin: auto;
}