.card-details{
    padding: auto;
    width: 100%;
    margin: 16px auto;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.card-details h2{
    text-transform: capitalize;
    font-size: 2em;
    color: blue;
    line-height: 100%;
}
.attributes{
    font-weight: bold;
    font-size: 1.5em;
    padding: 16px;
}
.card-details img{
    display: block;
    width: 45%;
}

@media screen and (max-width: 900px) {
    .card-details img {
        display: block;
        width: 100%;
        border-bottom: 2px solid #CCC;
    }
    .attributes{
        width: 100%;
    }
}